@import '../variables';
@import '../mixins';

$height: 80px;
.text-widget-12 {

	height: $height;
	padding: 0 20px;
  .row {
		height: $height / 2;
  }

  h4 {
    @include font-size(16px);
    font-weight: 700;
		margin: 4px 0 0 0;
  }

  h5 {
    @include font-size(13px);
		margin: 0 0 4px 0;
  }

}
