@import "../palettes";

$light: map-get($default-palette, "light");
$dark: map-get($default-palette, "dark");
$indigo: map-get($default-palette, "indigo");
$blue-grey: map-get($default-palette, "blue-grey");

//palette overrides
$light: map-set($light, 'highlight-text-color', #ffffff);
$dark: map-set($dark, 'highlight-text-color', #ffffff);
$indigo: map-set($indigo, 'highlight-text-color', #ffffff);
$blue-grey: map-set($blue-grey, 'highlight-text-color', #ffffff);

$top-navigation-palettes: (
	"light": $light, 
	"dark": $dark, 
	"indigo": $indigo,
	"blue-grey": $blue-grey
);
