@import "../variables";
@import "../palettes/tables";
@import "jquery.dataTables";
@import "dataTables.bootstrap4.scss";

table.dataTable {
  border-collapse: collapse !important;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc {
  background-image: none !important;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
  margin: 0;
  white-space: nowrap;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  margin: 0;
  padding: 0;
}

.page-link {
  position: relative;
  float: left;
  padding: 6px 12px;
  text-decoration: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  cursor: pointer;
  border-radius: 0;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  margin: 0;
  margin: 0;
}

@each $key, $value in $table-palettes {
  [data-background="#{$key}"] {
    .dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
    .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
    .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
      color: map-get($value, "color") !important;
      border: 1px solid transparent !important;
      background: transparent !important;
      box-shadow: none !important;
    }

    .page-link {
      color: map-get($value, "color") !important;
      background-color: map-get($value, "background-color") !important;
      border: none !important;

      &:hover {
        color: #fff !important;
        background-color: map-get($value, "highlight-color") !important;
      }
    }

    .page-item {
      &.active {
        .page-link {
          color: #fff !important;
          background-color: map-get($value, "highlight-color") !important;
        }
      }
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
      color: map-get($value, "color") !important;
      border: 1px solid transparent !important;
      background-color: transparent !important;
      background: transparent !important;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button {
      color: map-get($value, "color") !important;
      border: 1px solid transparent;
    }

    .dataTables_length,
    .dataTables_filter,
    .dataTables_info {
      color: map-get($value, "color");
    }

    th {
      outline: none !important;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
      border-top: 1px solid map-get($value, "border-color") !important;

      &:active,
      &:focus {
        outline: none !important;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
      }
    }

    table.dataTable {
      color: map-get($value, "color");
      background-color: map-get($value, "background-color");
      border-color: map-get($value, "border-color") !important;
    }

    table.dataTable.no-footer {
      border-bottom: 1px solid map-get($value, "border-color");
    }
  }
}
