@import "../variables";
@import "../mixins";

.dropdown-user {
  .nav-link {
    position: relative;
    margin-right: 10px;

    img {
      max-width: 40px;
      border-style: solid;
      border-width: 2px;
      border-color: #fff;

      @include box-shadow;
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -10px;
      margin-left: -20px;
      z-index: 1;
    }

    .badge {
      //@include box-shadow;
      transform: scale(0.85);
      border: 0;
      box-shadow: none !important;
      position: absolute;
      top: -5px;
      right: 12px;
      z-index: 2;
    }
  }

  #dropdown-user {
    margin-top: -1px;

    .dropdown-item {
      width: 200px;
      display: flex;
      height: 40px;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row;
      flex-wrap: wrap;
      font-size: 0.85rem;

      i {
        font-size: 1rem;
        width: 24px;
        margin-right: 10px;
      }

      .title {
        flex: 1;
      }
    }
  }
}

@each $key, $value in $default-palette {
  [data-navbar="#{$key}"] {
    #dropdown-user {
      background: map-get($value, "background-color");
      color: map-get($value, "color");

      .dropdown-title {
        background: map-get($value, "border-color");
        color: map-get($value, "color");
      }

      .dropdown-item {
        background: map-get($value, "background-color");
        color: map-get($value, "color");
      }
    }
  }
}	
