@import "../variables";
@import "../mixins";

.sidebar-heading {
  &.sidebar-heading-1 {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: capitalize;
    z-index: 1;

    .sidebar-heading-image {
      width: 100%;
      min-height: 105px;
      min-width: 85px;
      position: relative;
      margin: 0 auto $side-margin auto;
      text-align: center;
      display: block;

      .rounded-circle {
        max-width: 80px;
        width: 80px;
        border-style: solid;
        border-width: 3px;
        border-color: #fff;

        @include box-shadow;
        z-index: 1;
        margin: 30px auto 0 auto;
      }

      .badge {
        position: absolute;
        top: 30px;
        left: calc(50% + 17px);
        z-index: 2;
        transform: scale(0.85);
      }
    }

    .dropdown {
      .dropdown-toggle {
        margin: 0 0 $side-margin 0;
        transition: none !important;

        .name {
          display: block;
          margin: 0 0 10px 0;
          text-transform: uppercase;
        }

        .description {
          display: block;
          margin: 0 0 10px 0;
          text-transform: capitalize;
          font-weight: normal;
        }

        .location {
          display: block;
          margin: 0;
          text-transform: capitalize;
          font-weight: normal;

          i {
            margin-right: 10px;
          }
        }
      }

      .dropdown-menu {
        margin: 0 auto;
        min-width: $left-sidebar-width - $side-margin;
        width: $left-sidebar-width - $side-margin;
        left: 0;
        right: 0;

        .dropdown-item {
          display: flex;
          height: 40px;
          justify-content: flex-start;
          align-items: center;
          flex-direction: row;
          flex-wrap: wrap;

          i {
            margin-right: 20px;
          }
        }
      }
    }

    .icons {
      margin-bottom: $side-margin;

      .title {
        margin-top: 5px;
      }

      i {
        font-size: 20px;
      }
    }

    &:before {
      z-index: -1;
      position: absolute;
      content: "";
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: $navbar-height;
      width: 100%;
    }

    &:after {
      z-index: -1;
      background-image: url(/assets/images/bg1.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      position: absolute;
      content: "";
      display: block;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      height: $navbar-height;
      width: 100%;
    }
  }
}

@each $key, $value in $default-palette {
  [data-sidebar="#{$key}"] {
    .sidebar-heading {
      background-color: map-get($value, "background-color");
      color: map-get($value, "color");

      .input-group {
        .input-group-addon {
          color: map-get($value, "color");
          background-color: map-get($value, "border-color");
          border-color: map-get($value, "border-color");
        }

        .form-control {
          color: map-get($value, "color");
          background-color: map-get($value, "border-color");
          border-color: map-get($value, "border-color");
        }
      }

      .dropdown {
        .dropdown-toggle {
          background-color: map-get($value, "background-color") !important;
          color: map-get($value, "color") !important;
        }

        .dropdown-menu {
          background: map-get($value, "background-color");
          border-color: map-get($value, "background-color");
          color: map-get($value, "color");

          .dropdown-item {
            background: map-get($value, "background-color");
            border-color: map-get($value, "border-color");
            color: map-get($value, "color");
            @include font-size(14px);

            &:hover {
              background: map-get($value, "highlight-color");
              border-color: map-get($value, "highlight-color");
              color: #fff;
            }
          }
        }
      }
    }
  }
}

@each $key, $value in $default-palette {
  @if ($key != 'light') {
    [data-background="#{$key}"][data-sidebar="#{$key}"] {
      .sidebar-heading {
        background-color: map-get($value, "even-color");

        .dropdown {
          .dropdown-toggle {
            background-color: map-get($value, "even-color") !important;
          }
        }
      }
    }
  }
}

@each $key, $value in $default-palette {
  [data-sidebar="#{$key}"] {
    .sidebar-heading {
      &.sidebar-heading-1 {
        &:before {
          background: map-get($value, "highlight-color");
        }

        &:after {
          opacity: 0.15;
        }
      }
    }
  }
}
