@import "../variables";

[data-layout="collapsed-sidebar-1"] {
  .navbar {
    position: fixed;
    top: 0;
    left: $left-sidebar-collapsed-width;
    right: 0;
    z-index: $zindex-navbar-fixed + 1;
    width: calc(100% - $left-sidebar-collapsed-width);
    padding-left: $side-margin;
    padding-right: $side-margin;
    transform: translate3d(0, 0, 0);

    .toggle-layout {
      i {
        transition: #{$default-transform};
        display: inline-block;
        transform: rotate(540deg);
      }
    }
  }

  &[data-collapsed="true"] {
    .navbar {
      left: 0;
      width: 100%;

      .toggle-layout {
        i {
          transform: rotate(0deg);
        }
      }
    }
  }

  .main {
    padding-top: $navbar-height + $side-margin;
    padding-left: $left-sidebar-collapsed-width + $side-margin;
    padding-right: $side-margin;
    transform: translate3d(0, 0, 0);

    .jumbotron {
      width: 100%;
      margin: ($side-margin / 2) 0;
    }
  }

  &[data-collapsed="true"] {
    .main {
      padding-left: $side-margin;
    }
  }

  .left-sidebar-placeholder {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: calc(100%);
    width: $left-sidebar-collapsed-width;
    z-index: $zindex-navbar-fixed + 6;
    transform: translate3d(0, 0, 0);
  }

  &[data-collapsed="true"] {
    .left-sidebar-placeholder {
      transform: translate3d(-$left-sidebar-collapsed-width, 0, 0);
    }
  }

  .left-sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: calc(100%);
    width: $left-sidebar-collapsed-width;
    z-index: $zindex-navbar-fixed + 7;
    transform: translate3d(0, 0, 0);

    .wrapper {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      height: calc(100%);
      width: $left-sidebar-collapsed-width;

      .content {
        height: calc(100%);
        width: $left-sidebar-collapsed-width;

        .sidebar-widget-1,
        .sidebar-widget-2 {
          display: none;
        }
      }
    }
  }

  &[data-collapsed="true"] {
    .left-sidebar {
      transform: translate3d(-$left-sidebar-collapsed-width, 0, 0);
    }
  }
}

@media (max-width: #{$breakpoint}) {
  [data-layout="collapsed-sidebar-1"] {
    .navbar {
      left: 0;
      width: calc(100%);
      z-index: $zindex-navbar-fixed + 2;
    }

    &[data-collapsed="true"] {
      .navbar {
      }
    }

    .main {
      padding-left: $side-margin;
    }

    &[data-collapsed="true"] {
      .main {
        padding-left: $side-margin;
      }
    }

    .left-sidebar-placeholder {
      transition: #{$default-transform};
      transform: translate3d(-$left-sidebar-collapsed-width, 0, 0);
    }

    &[data-collapsed="true"] {
      .left-sidebar-placeholder {
        transform: translate3d(0, 0, 0);
      }
    }

    .left-sidebar {
      transition: #{$default-transform};
      transform: translate3d(-$left-sidebar-collapsed-width, 0, 0);
    }

    &[data-collapsed="true"] {
      .left-sidebar {
        transform: translate3d(0, 0, 0);
      }
    }
  }
}
