[data-layout="empty-view-1"] {
  position: relative;
  -ms-overflow-style: none;
  overflow-x: hidden;
  height: calc(100%);

  ::-webkit-scrollbar {
    display: none;
    width: 0 !important;
  }

  .container-fluid {
    display: flex;
    height: calc(100%);
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    z-index: 2;
  }

  html & {
    background: url(/assets/images/empty-view-1.jpg) no-repeat center center fixed;
    background-size: cover;
  }

  .bg-dark {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: calc(100%);
    height: calc(100%);
    opacity: 0.75;
    z-index: 1;
  }
}
