@import "../variables";

[data-layout="top-navigation-1"] {
  .navbar {
    z-index: $zindex-navbar-fixed + 1;
    width: calc(100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-left: $side-margin;
    padding-right: $side-margin;
    //transform: translate3d(0, 0, 0);

    .toggle-layout {
      i {
        transition: #{$default-transform};
        display: inline-block;
        transform: rotate(540deg);
      }
    }
  }

  &[data-collapsed="true"] {
    .navbar {
      padding-left: $side-margin + $left-sidebar-width;

      .toggle-layout {
        i {
          transform: rotate(0deg);
        }
      }
    }
  }

  .top-navigation {
    position: absolute;
    top: $navbar-height;
    left: 0;
    right: 0;
    width: calc(100%);
    padding-left: $side-margin;
    padding-right: $side-margin;
    transform: translate3d(0, 0, 0);
  }

  &[data-collapsed="true"] {
    .top-navigation {
      padding-left: $side-margin + $left-sidebar-width;
    }
  }

  .main {
    padding-top: $navbar-height + $top-navigation-1-height + $side-margin;
    padding-left: $side-margin;
    padding-right: $side-margin;
    transform: translate3d(0, 0, 0);

    .jumbotron {
      width: 100%;
      margin-top: $side-margin / 2;
      margin-bottom: $side-margin / 2;
      margin-left: 0;
      margin-right: 0;
    }
  }

  &[data-collapsed="true"] {
    .main {
      padding-left: $side-margin + $left-sidebar-width;

      .jumbotron {
      }
    }
  }

  .left-sidebar-placeholder {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    height: calc(100%);
    width: $left-sidebar-width;
    z-index: $zindex-navbar-fixed + 6;
    transform: translate3d(-$left-sidebar-width, 0, 0);
  }

  &[data-collapsed="true"] {
    .left-sidebar-placeholder {
      transform: translate3d(0, 0, 0);
    }
  }

  .left-sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: calc(100%);
    width: $left-sidebar-width;
    z-index: $zindex-navbar-fixed + 7;
    transform: translate3d(-$left-sidebar-width, 0, 0);

    .wrapper {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      height: calc(100%);
      width: $left-sidebar-width;

      .content {
        height: calc(100%);
        width: $left-sidebar-width;
      }
    }
  }

  &[data-collapsed="true"] {
    .left-sidebar {
      transform: translate3d(0, 0, 0);
    }
  }
}

@media (max-width: #{$breakpoint}) {
  [data-layout="top-navigation-1"] {
    .navbar {
      left: 0;
      width: calc(100%);
      z-index: $zindex-navbar-fixed + 2;
    }

    &[data-collapsed="true"] {
      .navbar {
        padding-left: $side-margin;
      }
    }

    .top-navigation {
      display: none;
    }

    .main {
      padding-top: $navbar-height + $side-margin;
      padding-left: $side-margin;
    }

    &[data-collapsed="true"] {
      .main {
        padding-left: $side-margin;
      }
    }

    .left-sidebar-placeholder {
      transition: #{$default-transform};
      transform: translate3d(-$left-sidebar-width, 0, 0);
    }

    &[data-collapsed="true"] {
      .left-sidebar-placeholder {
        transform: translate3d(0, 0, 0);
      }
    }

    .left-sidebar {
      transition: #{$default-transform};
      transform: translate3d(-$left-sidebar-width, 0, 0);
    }

    &[data-collapsed="true"] {
      .left-sidebar {
        transform: translate3d(0, 0, 0);
      }
    }
  }
}
