@import '../variables';
@import '../mixins';

.activity-widget-7 {
  .title {
		@include font-size(13px);
    margin-bottom: 5px;
    font-weight: 700;
  }

  .subtitle {
		@include font-size(13px);
    margin-bottom: 5px;
    font-weight: 500;
  }

  .progress {
    margin-top: 10px;
  }
}
