@import "../variables";

.finance-widget-1 {
  td {
    font-size: 0.9rem;

    &:nth-child(1) {
      width: 50%;
      font-weight: 700;
    }

    &:nth-child(2) {
      text-align: right;

      span {
        margin-left: 10px;
      }

      .variation {
        font-size: 0.85rem;
      }
    }
  }

  .fa-caret-up,
  .variation-up {
    color: map-get($bootstrap-colors, "success");
  }

  .fa-caret-down,
  .variation-down {
    color: map-get($bootstrap-colors, "danger");
  }
}
