<!-- app/dashboard -->
<div class="row">
    <div class="col">
        <div class="d-flex flex-row">
            <div class="p-2">
                <div class="dropdown d-inline-flex" id="dropdown-fadeInUpSmall">
                    <a class="lead" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dashboard&nbsp;<small class="sli-arrow-down"></small></a>
                    <div class="dropdown-menu animated fadeInUpSmall">
                        <a class="dropdown-item">Analytics</a>
                        <a class="dropdown-item">Monitoring</a>
                        <a class="dropdown-item">Workflows</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item">Test Dashboard</a>
                    </div>
                </div>

            </div>
            <a class="p-2">
                        <small class="fa fa-plus"></small>
                        <small>New Dashboard</small> 
                    </a>
            <a class="p-2">
                        <small class="fa fa-pencil"></small>
                        <small>Edit Dashboard</small>
                    </a>
            <a class="p-2">
                        <small class="fa fa-share-alt"></small>
                        <small>Share</small>
                    </a>
            <a class="p-2">
                        <small class="sli-size-fullscreen"></small>
                        <small>Fullscreen</small>
                    </a>
            <a class="p-2">
                        <small class="fa fa-copy"></small>
                        <small>Clone</small>
                    </a>
            <a class="p-2">
                        <small class="fa fa-trash-o"></small>
                        <small>Delete</small>
                    </a>
        </div>
    </div>
</div>
<!-- end app/dashboard -->